/*set margin zero universally*/
*{
    margin: 0px;
    padding: 0px;
}
/*header section*/



/* start header section*/
 
header{
    max-height: 700px;
    width: 100%;
    /*max-width: 1228px;*/
    background-color: #E554731A;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
     
     
}
.section1-title{
    color: #272727;
    font-size: 50px;
    font-weight:800;
    width: 608px;
    height: 190px;
     
}
.section1-description{
    display: flex;
    align-items: center;
    width: 445px;
    height: 70px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    font-style: italic;
    padding: 0px;
    margin-top:15px;
}
.btn-shopnow{
    font-size: 15px;
    border-radius: 7px;
    background: #E55473;
    display: inline-flex;
    padding: 10px 33px;
    align-items: flex-start;
    gap: 10px;
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 15px;
}
.header-content{
     display: flex;
     flex-direction:column;
     justify-content: space-around;
     margin-left: 100px;
}
.header-image{
    padding-top: 55px; 
    padding-right: 120px;
}
.head-image{
    height: 550px;
    width: 400px;
    position: static;
}
/* Section 1 Complete*/

/*section 2 start*/

main{
    height: 2100px;
    width: 100%;
    /*width: 1228px;*/
    margin-bottom: 70px;
    
}
 
.s2-p1, .s2-p2,.s2-p3{
    width: 280px;
    height: 300px;
    margin: 5px;
    
}
.feature-container{
    margin-left: 10px;
    margin-bottom: 100px;
}
.feature-products-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.feature-products-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
     padding-top: 100px;
}
.feature-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
.section2-products{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.s2-p1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.s2-p2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.s2-p3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
h6{
    color: #272727;
    text-align: center;
    font-family: Lato;
    text-decoration-line: underline;
    margin-top: 5px;
}
.product-image1{
    position: static;
    margin-top: 46px;
    padding-left: 40px;
    height: 255px;
    width: 170px;
}
.product-image2{
     position: static;
    height: 270px;
    width: 270px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 0px;  
}
.product-image3{
    position: static;
    height: 270px;
    width: 170px;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 50px;
}
.product-name{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 15px;
    
}
/*section 2 complete*/

/*section 3 start*/
 
.service-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: static;
    height: 150px;
    width:860px;
    margin: auto;
    /*margin-top: 80px;*/
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
     
}
.service{
    height: 200px;
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
     
}
.service-image{
    display: flex;
    margin-left: 75px;
    margin-right: 75px;
    width: 77px;
    height: 77px;
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 20px;
}
.service-description{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 22px;

    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
}

/*section 4 start*/
.section-4{
    margin-top: 80px;
    margin-bottom: 0px;
    height: 520px;
}
.hot-deal-container{
     
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    
}
.deal-description{
    display: flex;
    align-items: center;
    
    padding-top: 10px;
    padding-right: 37px;

    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 17px;
    font-weight: 600;
     
}
.deal-title{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.btn{
    font-size: 20px;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 10px 30px;
    align-items: center;
    gap: 10px;
    color: white;
    margin-left: 140px;
    margin-top: 13px;
    
}
 
.red-flower{
    width: 218px;
    height: 320px;
}
.highlight-text{
    color: #E55473;;
}
/*section 5 start*/
.section-5{
     margin-bottom: 80px;
     
}
.intagram-pictures{
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: 940px;
    margin-left: 110px;
    margin-right: 100px;
    margin-top: 30px;
     
}
.pic-container1, .pic-container2, .pic-container3, .pic-container4{
    width: 220px;
    height: 245px;
       
}
.social-media-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
     
}
.social-description{
    display: flex;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.insta{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
     
}
.picture{
    height: 245px;
    width: 220px;
}
/* section 6 start*/
.contact-section{
    height: 270px;
    width: 935px;
     margin: auto;
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
     padding-top: 70px;
}
.input-fill{
    display:flex;
    position: sticky;
    align-items: center;
    justify-content: space-around;
    margin-left: 140px;

}
.mailing-address{
    height: 34px;
    width: 500px;
    border-radius: 10px;
    margin-left: 150px;
    padding-left: 5px;
}
.subscribe-btn{
    width: 120px;
    height: 34px;
    border-radius: 5px;
    background: #E55473;

    color: #FFF;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    margin-right: 300px;
    margin-left: 10px;
    padding: 5px;
    
}
.section-5-heading{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 5px;
     
}
.section-5-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 5px;
}
/* section 6 complete*/
/*section 7 start*/
footer{
    width:100%;
    height: 280px;
    background-color: #111010;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;

}
.footer-title{
    color: hsl(0, 7%, 92%);
    font-size: 50px;
    font-weight:800;
    padding-bottom: 10px;
     
     
}
.footer-description{
    display: flex;
    width: 450px;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 50px;
}
.copy-right-messege{
    color:white;
    text-align: center;
    font-family: Lato;
    font-size: 10px;
     
    font-weight: 300;
     
}
/*section 7 done*/