/*set margin zero universally*/
*{
    margin: 0px;
    padding: 0px;
}
/*header section*/



/* start header section*/
 
header{
    max-height: 700px;
    max-width: 1228px;
    background-color: #E554731A;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
     
     
}
.section1-title{
    color: #272727;
    font-size: 50px;
    font-weight:800;
    width: 608px;
    height: 190px;
     
}
.section1-description{
    display: flex;
    align-items: center;
    width: 445px;
    height: 70px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    font-style: italic;
    padding: 0px;
    margin-top:15px;
}
.btn-shopnow{
    font-size: 15px;
    border-radius: 7px;
    background: #E55473;
    display: inline-flex;
    padding: 10px 33px;
    align-items: flex-start;
    gap: 10px;
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 15px;
}
.header-content{
     display: flex;
     flex-direction:column;
     justify-content: space-around;
     margin-left: 100px;
}
.header-image{
    padding-top: 55px; 
    padding-right: 120px;
}
.head-image{
    height: 550px;
    width: 400px;
    position: static;
}
/* Section 1 Complete*/

/*section 2 start*/

main{
    height: 3000px;
    width: 1228px;
    margin-bottom: 100px;
    
}
 
.s2-p1, .s2-p2,.s2-p3{
    width: 280px;
    height: 300px;
    margin: 5px;
    
}
.feature-container{
    margin-left: 10px;
}
.feature-products-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.feature-products-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
     padding-top: 100px;
}
.feature-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
.section2-products{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.s2-p1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.s2-p2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.s2-p3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
h6{
    color: #272727;
    text-align: center;
    font-family: Lato;
    text-decoration-line: underline;
    margin-top: 5px;
}
.product-image1{
    position: static;
    margin-top: 46px;
    padding-left: 40px;
    height: 255px;
    width: 170px;
}
.product-image2{
     position: static;
    height: 270px;
    width: 270px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 0px;  
}
.product-image3{
    position: static;
    height: 270px;
    width: 170px;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 50px;
}
.product-name{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 15px;
}
/*section 2 complete*/

/*section 3 start*/
 
.service-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: static;
    height: 150px;
    width:860px;
    margin-left: 185px;
     
    margin-top: 120px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
     
}
.service{
    height: 200px;
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
     
}
.service-image{
    display: flex;
    margin-left: 75px;
    margin-right: 75px;
    width: 77px;
    height: 77px;
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 20px;
}
.service-description{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 22px;

    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
}

/*section 4 start*/
.section-4{
    margin-top: 100px;
    height: 520px;
}
.hot-deal-container{
     
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    
}
.deal-description{
    display: flex;
    align-items: center;
    
    padding-top: 10px;
    padding-right: 37px;

    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 17px;
    font-weight: 600;
     
}
.deal-title{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.btn{
    font-size: 20px;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 10px 30px;
    align-items: center;
    gap: 10px;
    color: white;
    margin-left: 140px;
    margin-top: 13px;
    
}
 
.red-flower{
    width: 218px;
    height: 320px;
}
.highlight-text{
    color: #E55473;;
}
